
.notification-section.MuiButtonBase-root{
    width: 0;
}

/* Security*/
/* .style-password-icon{
    color: #003087;
} */







/* Add the default styles for the radio button */


/* Add the styles to change the color when the radio button is selected */
.red-selected {
    color: #003087 !important;
}

/* Add the styles for the second radio button when selected */
.blue-selected {
    color: #003087 !important;
}




/* Add the styles to capitalize the first letter of each word */
.custom-span {
    text-transform: capitalize !important;
}

/* Add styles for the first letter within the span */
.custom-span::first-letter {
    font-size: 1.2em !important; /* Optionally adjust font size for the first letter */
}






.display-flex{
    margin-top:15px ;
}





/* .appointment-dropdown{

} */


